@import "sanitize.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;

    font: 500 100% system-ui, sans-serif;
}

.page-wrap {
    background-color: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 1px;
}

.page-wrap > * {
    padding: 1rem;
}

.page-nav-header {
    background-color: #ffcdd2;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}
.page-nav-header ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.page-main {
    background-color: #dcedc8;
    padding: 0;
}
.home-page {
    background-image: url("../img/sea-g1222d28f1_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.shop-now-btn {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
}

.shop-page {
    height: 100%;
    padding: 1rem;
    background-color: #ffffff;
}
.item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}
.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    transition: 0.3s;
    display: grid;
    grid-template-rows: 1fr min-content;
    border-radius: 2vh;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-desc-container {
    display: grid;
    justify-content: center;
    text-align: center;

}
.card-desc-container > * {
    margin: 0;
    padding: .5rem;
}
.image-container{
    background-color: black;
    display: grid;
    justify-content: center;
}
.image-container > img {
    height: 100%;
}
.number-input > input[type=number] {
    width: 100%;
    text-align: center;
}
.incrementers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.add-to-cart-btn {
    margin-bottom: .5rem;
    border-radius: 2vh;
}

.page-footer {
    background-color: #ffecb3;
    text-align: center;
}